/* // LGHaTL */
@font-face {
  font-family: "LGHeadline";
  src:
    url("@/assets/fonts/LGEIHeadlineTTF-Light.woff2") format("woff2"),
    url("@/assets/fonts/LGEIHeadlineTTF-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LG EI Headline TTF";
  src:
    url("@/assets/fonts/LGEIHeadlineTTF-Regular.woff2") format("woff2"),
    url("@/assets/fonts/LGEIHeadlineTTF-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LG EI Headline TTF";
  src:
    url("@/assets/fonts/LGEIHeadlineTTF-Bold.woff2") format("woff2"),
    url("@/assets/fonts/LGEIHeadlineTTF-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LG EI Headline TTF";
  src:
    url("@/assets/fonts/LGEIHeadlineTTF-Semibold.woff2") format("woff2"),
    url("@/assets/fonts/LGEIHeadlineTTF-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LG EI Headline TTF";
  src:
    url("@/assets/fonts/LGEIHeadlineTTF-Thin.woff2") format("woff2"),
    url("@/assets/fonts/LGEIHeadlineTTF-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LG EI Headline VF";
  src:
    url("@/assets/fonts/LGEIHeadlineVF.woff2") format("woff2"),
    url("@/assets/fonts/LGEIHeadlineVF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LG EI Text TTF";
  src:
    url("@/assets/fonts/LGEITextTTF-Bold.woff2") format("woff2"),
    url("@/assets/fonts/LGEITextTTF-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LG EI Text TTF";
  src:
    url("@/assets/fonts/LGEITextTTF-Regular.woff2") format("woff2"),
    url("@/assets/fonts/LGEITextTTF-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LG EI Text TTF";
  src:
    url("@/assets/fonts/LGEITextTTF-Light.woff2") format("woff2"),
    url("@/assets/fonts/LGEITextTTF-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LG EI Text TTF";
  src:
    url("@/assets/fonts/LGEITextTTF-SemiBold.woff2") format("woff2"),
    url("@/assets/fonts/LGEITextTTF-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
